<template name="contacts">
	<div class="container">
		<div class="ribbon-title-wrap">
	        <div class="ribbon-title">
	          <div class="title-wrap">
	            <div class="title">Контакты</div>
	            <div class="shadow shadow-black">Контакты</div>
	            <div class="shadow shadow-red">Контакты</div>
	          </div>
	        </div>
    	</div>
		<br><br><br><br>
            
        <script type="text/javascript">
            var map;

            DG.then(function () {
                map = DG.map('map', {
                    center: [42.339827, 69.643058],
                    zoom: 17
                });

                DG.marker([42.339827, 69.643058]).addTo(map).bindPopup('Мы здесь!');
            });
        </script>

    	<div class="container" style="border-radius: 10px; font-size: 17px; background-color: #fff; padding: 50px">
    		<hr style = "width: 700px">
    		<div class="row">
    			<div class="col-md-4 col-xs-12 text-center" style="margin: 30px 0">
    				<p><strong>Адрес: </strong> г. Шымкент, мкр.Север 19/2 рядом с супермаркетом Султан </p>
    				<p><strong>Телефон:</strong> <a style=" font-size: 19px" itemprop="telephone"
                   href="tel:+7 702 607 5600">+7 702 <strong class="">607-56-00</strong></a>   </p>
    			</div>
    			<div class="text-center col-md-4 col-xs-12" style="box-shadow: 0 0 5px black; padding: 20px; margin: 30px 0">
    				<strong>Время работы: <br><br>
    				Ежедневно <br></strong>
    				9:00 - 00:00
    			</div>
    			<div class="col-md-4 col-xs-12 text-center" style="margin: 30px 0">
    				<h4><strong>Мы в соц. сетях</strong></h4> <br>    					
		              <a href="https://vk.com/menskitchenshym"><i class="fa fa-vk fa-fw fa-3x"></i></a>              
		              <a href="https://www.instagram.com/mens.kitchen.shym/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>              
		              <a href="https://www.facebook.com/menskitchenshym"><i class="fa fa-facebook fa-fw fa-3x"></i></a>              
    			</div>    			    			
    		</div>

    		<hr style="width: 700px">
            <div id="map" style="width:auto; height:500px"></div>
    	</div>
	</div>
</template>
