<template name = "feedback">
    <div class="ribbon-title-wrap" style="margin-top: -50px">
        <div class="ribbon-title">
          <div class="title-wrap">
            <div class="title">Отзывы</div>
            <div class="shadow shadow-black">Отзывы</div>
            <div class="shadow shadow-red">Отзывы</div>
          </div>
        </div>
    </div>
    <br><br><br>
    <div class="container bg-white" style="padding: 50px 0; border-radius: 5px;">
       <div class="tcb-carousel-reviews">
        <div class="container">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="block-text ">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat excepturi et aliquam quaerat nam fugit sequi minus ipsa autem laudantium. Accusantium officiis deserunt totam voluptate soluta veritatis expedita animi numquam! ...</p>
                                        <ins class="sprite sprite-i-triangle"></ins>
                                    </div>
                                    <div class="person-text">
                                        <div class="reviewer">
                                            <img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                                        </div>
                                        <a title="" href="#">Someone Famous</a>
                                        <i>United States</i>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-text ">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio odit dicta harum odio inventore vero, adipisicing elit quisquam adipisicing elit esse hic alias nisi. Blanditiis minima obcaecati vero sit eaque consectetur! Sit, odio incidunt.." </p>
                                        <ins class="sprite sprite-i-triangle"></ins>
                                    </div>
                                    <div class="person-text">
                                        <div class="reviewer">
                                            <img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                                        </div>
                                        <a title="" href="#">Someone Famous</a>
                                        <i>United States</i>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                                    <div class="block-text ">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos voluptates, atque maiores iusto tenetur hic, dolore reprehenderit odit neque necessitatibus veritatis quasi rerum maxime eaque, officiis fugiat, aut quae commodi. </p>
                                        <ins class="sprite sprite-i-triangle"></ins>
                                    </div>
                                    <div class="person-text">
                                        <div class="reviewer">
                                            <img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                                        </div>
                                        <a title="" href="#">Someone Famous</a>
                                        <i>United States</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="container">
            	<div class="row">
                        <div class="col-md-2"></div>
			<div class="col-md-8 col-xs-12" style="background-color: /*#ebdbff*/ rgba(141, 176, 232, 0.8);color: #; font-size: 15px; padding: 15px; box-shadow: 0 0 1px
                            black; border-radius: 20px;">
				<h3 class="text-center"><strong>Написать отзыв:</strong></h3> <br><br>
				
				<form action="https://formspree.io/nurseyit200@gmail.com"
				      method="POST">
				    <div class="form-group">
					  <label for="namesur">Ваше Имя:</label>
					  <input type="text" class="form-control" name="surname" id="namesur">
					</div>
					<div class="form-group">
					  <label for="pwd">Номер телефона:</label>
					  <input type="text" class="form-control" name="phone" id="pwd">
					</div>					
					<div class="form-group">
					  <label for="comment">Примечание:</label>
					  <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
					</div>
					<div class="text-center" style = "color: black; font-size: 15px">
						<i>После нажатия кнопки <strong>'отправить'</strong>, вас перенаправит на страницу проверки.</i>
					</div>
					<div class="form-group text-center">											
						<i class="btn before-submit">Отправить</i>
						<input type="submit" value="Отправить" class="btn" id="send-mail" style="display: none">
					</div>
					
				</form>

			</div>			
		</div>
    </div>
</template>
