<template name="Footer">
	<nav class="bottom" id="bottomtop">        
	        <div class="container">	          
	                <ul class="row text-center">
	                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->                    
	                    <li class="col-xs-12">
	                        <a href="/about"><b>О нас</b></a>
	                    </li>
	                    <li class="col-xs-12">
	                        <a href="/payment"><b>Оплата и Доставка</b></a>
	                    </li>
	                    <li class="col-xs-12">
	                        <a href="/discounts"><b>Скидки</b></a>
	                    </li>
	                    <li class="col-xs-12">
	                        <a href="/contacts"><b>Контакты</b></a>
	                    </li>
	                    <li class="col-xs-12">
	                        <a href="/feedbacks"><b>Отзывы</b></a>
	                    </li>
	                </ul>
	        </div>
	        <!-- /.container -->        
	    </nav>
			
			<hr>
			<br>
			<div class="row vertical-align">				    
				<div class="col-md-4 text-center">
					<img src="img/top-logo.png" style="max-width: 200px" alt="">
					<p style = "color: white; font-size: 17px;">
						Время работы: <strong style="color:orange">9:00-00:00</strong>
					</p>
				</div>

        <div class="col-md-4 text-center">
        	<div style="font: italic 24px/27px Bitter,'PT Serif',Georgia,serif;">
				<p style="color: #fff; font-size: 17px; margin-bottom: 10px">г. Шымкент, мкр.Север 19/2 рядом с супермаркетом Султан</p>
				<br>
	            <a style="color: white; font-size: 19px" itemprop="telephone"
	               href="tel:+7 702 607 56 00">+7 702 <strong class="">607-56-00</strong></a>		        		           		            
	            <p style="color: violet; font-size: 20px" itemprop="email" href="mailto:info@menskitchen.kz">Доставка</p>
            </div>
						<ul class="list-inline" style="margin-top: 40px;">
              <li>
                  <a href="https://vk.com/menskitchenshym"><i class="fa fa-vk fa-fw fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://www.instagram.com/mens.kitchen.shym/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
              </li>
              <li>
                  <a href="https://www.facebook.com/menskitchenshym"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
              </li>
          </ul>
				</div>        
		      
				<div class="col-md-4 text-center">           
					<input type="email" style="height: 43px; padding: 0 10px; color: #fff; font: 13px Arial,Tahoma,sans-serif; background: rgba(0,0,0,.65); border-top: 2px rgba(0,0,0,.9) solid;border-left: 2px rgba(0,0,0,.9) solid; border-bottom: 2px rgba(42,23,14,.8) solid; border-right: 2px rgba(42,23,14,.8) solid;" id="Email" value="" placeholder="Ваш e-mail"> 
		    	<a class="btn" href="#">Подписаться</a>		    	
				</div>
			</div>
			<br>
			<br>
			<div class="text-center" style="color:#fff;">&copy; Copyright 2017 <a href="https://github.com/nurseiit">A.Nurseiit</a></div>
			<br>
			<hr>
			<button onclick="TOTOP()" id="to-top" class="btn-lg btn-dark"><i class="fa fa-chevron-up fa-fw fa-1x"></i></button>
</template>
