<template name="Header">
	<nav class="navbar navbar-inverse" id="toptop" role="navigation">        
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->                    
                    <li>
                        <a href="/about"><b>О нас</b></a>
                    </li>
                    <li>
                        <a href="/payment"><b>Оплата и Доставка</b></a>
                    </li>
                    <li>
                        <a href="/discounts"><b>Скидки</b></a>
                    </li>
                    <li>
                        <a href="/contacts"><b>Контакты</b></a>
                    </li>
                    <li>
                        <a href="/feedback"><b>Отзывы</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->        
    </nav>
    <div class="container">
			<div class="row text-center">
				<div class="col-md-4 col-sm-5" id="topcall"><a style="color: red; font-size: 19px" itemprop="telephone"
                   href="tel:+7 702 607 5600">+7 702 <strong class="">607-56-00</strong></a>   <strong><br> Доставка</strong></div>
				<a class="col-md-4 col-sm-6 text-center" href = "/" ><img src="img/top-logo.png" style="max-width: 350px" alt=""></a>
<!-- Cart Begin -->
				<div class="col-md-4 col-sm-12" id="topcart" style = "opacity: 0.99 !important;">
					{{> topCart}}				
				</div>
<!-- Cart end -->
				<div class="col-md-12 col-sm-12" style="font-size: 20px; padding: 10px 0"><strong style="color: white;">Время Работы:</strong> <i style="color: orange">9:00 - 00:00</i></div>
			</div>
	</div>

    <nav class="navbar navbar-inverse men-top" role="navigation">        
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav text-center" id="top-panel">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->                    
                    <li>
                        <i><b>Стейк</b></i>
                    </li>
                    <li>
                        <i><b>Пицца</b></i>
                    </li>
                    <li>
                        <i><b>Фастфуд</b></i>
                    </li>
                    <li>
                        <i><b>Супы</b></i>
                    </li>                
                    <li>
                        <i><b>Салат</b></i>
                    </li>                    
                    <li>
                        <i><b>Бар</b></i>
                    </li>
                    <br>                    
                    <li style="margin-left: 20%;">
                        <i><b>Дессерт</b></i>
                    </li>
                    <li>
                        <i><b>Из мяса</b></i>
                    </li>
                    <li>
                        <i><b>Комбо</b></i>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        
    </nav>
</template>
