<template name = "payment">
    <div class="ribbon-title-wrap" style="margin-top: -50px">
        <div class="ribbon-title">
          <div class="title-wrap">
            <div class="title">Доставка</div>
            <div class="shadow shadow-black">Доставка</div>
            <div class="shadow shadow-red">Доставка</div>
          </div>
        </div>
    </div>
    <br><br><br>
    <div class = "container bg-white" style="padding: 50px 0; border-radius: 10px;">
        
    </div>
</template>
