<template name="about">
    <div class="ribbon-title-wrap" style="margin-top: -50px">
        <div class="ribbon-title">
          <div class="title-wrap">
            <div class="title">{{#unless isSet}}О нас{{/unless}} {{#if isSet}} {{name}} {{/if}}</div>
            <div class="shadow shadow-black">{{#unless isSet}}О нас{{/unless}} {{#if isSet}} {{name}} {{/if}}</div>
            <div class="shadow shadow-red">{{#unless isSet}}О нас{{/unless}} {{#if isSet}} {{name}} {{/if}}</div>
          </div>
        </div>
    </div>
    <br><br><br>
	<div class="container" style="background-color: #fff; border-radius: 10px; padding: 30px 20px">
		<img src="img/other/main.jpg" alt="" class="img-responsive center-block">
		<br>
		<div style="padding: 10px 30px; text-align:justify; font: 400 14px/22px 'Open Sans',Arial,Tahoma,sans-serif">
			<p><strong>Men's Kitchen Steakhouse</strong>.
			Вы настоящий ценитель мяса? Тогда нам есть чем вас удивить.</p>
			<p>Сочное, нежное, просто тающее во рту... Вот каким должен быть и коим является любой наш стейк! Непревзойденный шеф открытой кухни изо дня в день поражает своим мастерством наших гостей, приглашаем насладиться его творениями!</p>
			<br>
			<p>Мы постоянно работаем над нашим сервисом: читаем ваши отзывы в социальных сетях, проводим разного вида опросы. Все для того, чтобы сделать доставку быстрее, технологии лучше и современнее, а еду — еще вкуснее и полезнее.
			</p><br>
			<p>Мы создали этот сайт, чтобы вы смогли познакомиться с тем, что мы делаем и по-настоящему любим.</p>
		</div>
	</div>	
</template>
